* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    text-align: center;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 100vh;
}

.login-form {
    padding: 40px 30px;
    margin-bottom: 10px;
}

.logo {
    width: 175px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #287bc1;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dbdbdb;
}

.divider::before {
    margin-right: .25em;
}

.divider::after {
    margin-left: .25em;
}

.divider span {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 500;
}

.social-login .btn {
    background-color: #385185;
}

.social-login .btn:hover {
    background-color: #2e3d6b;
}

.forgot-password {
    display: block;
    margin-top: 20px;
    color: #00376b;
    font-size: 12px;
    text-decoration: none;
}

.signup {
    background-color: #fff;
    padding: 20px;
}

.signup p {
    font-size: 14px;
}

.signup a {
    color: #3897f0;
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}
